.header {
	
	
	
color: black;
	
	
	
	
}

h2 {
	
	text-align: center;
	font-family: Arial;
	
}



	
	.content {
		color: black;
	}





img {
	
	
	
	max-width: 100%;
	height: auto;

	
	
}

body {
	background: -webkit-linear-gradient(blue, yellow);
	text-align: center;
}

ul {
	
	border: 0.5px solid transparent;
}



li {
	
	text-align: center;
	border-bottom: 0.5px solid transparent;
}

li:last-child {
	
	border-bottom: none;
}







h1{ 

text-align: center;
font-family: Arial;


}



ul {
	
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 25%;
	height: 100%;
	position: fixed;
	overflow: auto;
	
	
	
	
	
	
}

li a {
	
	width: 120px;
	display: block;
	background-color: black;
}

li a:hover {
	color: black;
	background-color: white;
	
	
	
	
}


.active {
	background-color: black;
	color: white;
}

body {
	
    width: 1400px;
    height: 1400px;
    overflow: scroll;
}


	
	.selfie {
		
	width: 300px;
	position: relative;
	left: 550px;	
	border-radius: 25px;
    border: 2px solid black;
    padding: 10px; 
	
  
 
		
		
		
		
		
		
	}
	
	
	#head {
		
    
		
	padding: 15px 0px 15px 15px;
	}
	
	.main {
		margin-left: 175px;
		max-width: 600px;
		padding: 15px 30px 0px 0px;
		float: right;
		
	}
	.side {
	width: 145px;
	float: left;
	padding: 0px 0px 0px 15px;
	
	
		
		
		
		
	}
	
	#first {
	width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
	
	
	
		
		
		
		
		
	}
	
	
	#second {
		
	width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
		
	}
	
	
	#third {
		
		width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
		
	}
	
	#four {
		width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
		
	}

	#fifth {
		width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
	
	}
	
	
	
	.special {
		
		width: 250px;
	height: 250px;
	position: relative;
	left: 580px;
	
	
		
	}
	
	
	
	.full {
		
			margin-left: 175px;
		max-width: 600px;
		padding: 15px 30px 0px 0px;
		float: left;
		position: relative;
		left: 230px;
		
		
	}
	
	
	
	
	
	
	
	#menav {

	width: 145px;
	float: left;
	padding: 0px 0px 0px 15px;
	position: relative;
		right:240px;
		
		
	}
	
	#onepart {
	width: 294px;
	float: left;
	padding: 5px 15px;
	margin: 0px 0px 5px 5px;
	position: relative;
	right: 1px;
	left: 190px;
	
	
   
	
   
		
		
	}
	
	
	#twopart {
		
	width: 270px;
	padding: 0px 0px 5px 15px;
	float: right;
	position: relative;
	top: 140px;
	right: 100px;
	left: 120px;
	
	
	
	
  	
		
		
		
	}
	
	
	#king {
		
		
	padding: 5px;
	width: 960px;
	margin: 20px auto;
		
		
		
	}
	
	
	
	.po {
		
		position: relative;
		right:  120px;
		
		
		
		
		
	}
	
	
	
	
	
	
	
	

